@font-face {
  font-family: 'Fraunces';
  src: url('./fonts/Fraunces.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amarillo';
  src: url('./fonts/Amarillo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #EBE6D2;
  text-align: center;
  font-family: 'Fraunces', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Georgia, Times, 'Times New Roman';
}

h1 {
  color: #6b6a53;
  font-family: 'Amarillo', sans-serif;
  font-size: 40px;
}

h2 {
  color: #a19478
}
