@font-face {
  font-family: 'Fraunces';
  src: url('./fonts/Fraunces.ttf') format('truetype');
}

@font-face {
  font-family: 'Amarillo';
  src: url('./fonts/Amarillo.ttf') format('truetype');
}

body {
  background: #EBE6D2;
  text-align: center;
  font-family: 'Fraunces', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Georgia, Times, 'Times New Roman';
}

.banner {
  background-color: #4a4a3a;
  padding: 2px 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: 'Amarillo', sans-serif;
  color: #908f75;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

h2 {
  color: #a19478;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects h2 {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: #D9D6B8;
  border-radius: 25%;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


img {
  width: 300px;
  height: auto;
}
